<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Domain_Guardian.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Domain_Guardian.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Domain_Guardian.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Domain_Guardian.Properties.Settings>
            <setting name="DomainControllers" serializeAs="String">
                <value />
            </setting>
            <setting name="RecipientEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="TestDnsCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestReplication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestTimeSkew" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestLdapBind" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestCertDhcp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestSmbLdapSigning" serializeAs="String">
                <value>True</value>
            </setting>
        </Domain_Guardian.Properties.Settings>
        <Domain_Guardian.Settings>
            <setting name="DomainControllers" serializeAs="String">
                <value />
            </setting>
            <setting name="RecipientEmail" serializeAs="String">
                <value />
            </setting>
        </Domain_Guardian.Settings>
        <Domain_Guardian.settings>
            <setting name="DomainControllers" serializeAs="String">
                <value />
            </setting>
            <setting name="RecipientEmail" serializeAs="String">
                <value />
            </setting>
        </Domain_Guardian.settings>
    </userSettings>
</configuration>